body {
    font-family: 'Mononoki', monospace;
    background-color: #3d3737;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  #Title{
    font-size: 50px;
    margin-top: 40px;
    display: absolute;
    color: rgb(195, 195, 8);
    cursor: default;
  }
  
  .container {
    display: flex;
    flex-direction: column; /* Or use column-reverse if you want the input at the bottom */
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  #input-field {
    font-size: 20px;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    width: 300px;
    max-width: 100%;
    border-radius: 14px;
    border-color: white;
    box-shadow: 5px 20px 32px rgb(21, 20, 20);
    cursor:auto;
  }
  
  #current-words {
    color:white;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  
  span {
    font-size: 32px;
    margin: 0 5px;
  }
  
  .default {
    color: rgb(114, 112, 112);
  }
  
  .correct {
    color: yellow;
  }
  
  .incorrect {
    color: red;
  }
  